/* css reset */
*{
    margin: 0;
    padding: 0;
}
/* css variable */
html{
    scroll-behavior: smooth;
}
:root{
    --navbar-height: 59px;
}
/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}
/*Navigation bar: logo and image */
#logo{
    display: flex;
    margin: 7px 9px;
}
#logo img{
    width: 43px;
     height: 43px;
     margin: 7px 9px;
}
/* Navigation bar: list styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai';
}
#navbar li{
    list-style: none;
    font-size: 1.1rem;
}
#navbar li a{
   color: white;
   display: block;
   padding: 3px 20px;
   border-radius: 20px;
   text-decoration: none;
}
#navbar li a:hover{
    color: black;
    background-color: white;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    height: 375px;
    align-items: center;
}
#home::before{
    content: "";
    background: url('../img/background.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 74%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;

}
/* Utility classes */
.h-primary{
    font-size: 3.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Bree Serif', serif;
}      
/* font-family: 'Bree Serif', serif; */
/* font-family: 'Baloo Bhai';font-size: 22px; */
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
/* service section */
.center{
    text-align: center;
}
#services{
    display: flex;
    margin: 34px;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background: #f2f2f2;


}
#services .box img{
    height: 156px;
    display: block;
    margin: auto;
}
#sevices .box p{
    font-family: 'Bree Serif', serif;
}

/* client section */

#client-section{
    height: 344px;
    /* position: relative; */
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../img/vegetable.jpg');
    width: 100%;
    height: 90%;
    z-index: -1;
    opacity: 0.4;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 80px;
}
.client-item{
    padding: 5px;

}
#client-section h1{
    margin-bottom: 30px;
}
/* Contact section */
/* #contact{
    position: relative;
} */
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../img/contact.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif',serif;
}
/* footer */
footer{
    background: black;
    color: white;
    padding: 9px 20x;
}   
